.adminclass{
  width:90%;
  border-radius: 2%;
  box-sizing: border-box;
}

.login_container{
  margin-top:5%;
  background-color: rgba(0,0,0,0.7);
  padding:3%;
  border:5px outset rgba(0,0,0,0.8);

}
input{
  margin:5%;
  border: none;
  background-color: rgba(255,255,255,1);
  padding:0.5rem;


}
h1{
  text-align: center;
  margin: 3% auto;
}
#button{
  margin-left:80%;
  padding: 0.5rem 1.5rem;
  background-color: rgba(0,0,0,0.5);
  color:white;
}
